{% extends "base.html" %}
{% block content %}
<div id="checkbox" class="block" title="Транспорт">
    Amsterdam, Kronenburg, to Center<br>
    {% for route in dict_result['direction_center'] %}
            {{route}}
    {% endfor %}
    <br>
    Amsterdam, Kronenburg, to Westwijk<br>
    {% for route in dict_result['direction_westwijk'] %}
            {{route}}
    {% endfor %}
    </div>
<div class="block" title="Погода">
    Today <br>Temperature: {{dict_result['weather']['today_forecast']['feeltemperature']}}
    Rain: {{dict_result['weather']['today_forecast']['rainchance']}}
    Wind: {{dict_result['weather']['today_forecast']['windforce']}}<br>
    Tommorrow <br>Maxtemp: {{dict_result['weather']['tomorrow_forecast']['maxtemp']}}
    Rain: {{dict_result['weather']['tomorrow_forecast']['rainchance']}}
    Wind: {{dict_result['weather']['tomorrow_forecast']['windforce']}}
</div>
<div class="block">Today is {{dict_result['activity']['day']}}<br>
    {% for day_schedule in dict_result['activity']['activity'] %}
            {{day_schedule}}
    {% endfor %}
    <br><a href={{ url_for("update") }} >Change schedule</a>
</div>
<div class="block">
    <form action="/" method="post">
    {% for task in dict_result['tasks'] %}
    {{ task.task_name }}
        {% if task.status == 1 %}

        <input type="checkbox" onclick="myFunction('{{ task.id }}')" id="checkbox_task_{{ task.id }}" name="checkbox_task_{{ task.id }}"  checked=true>  <br>
        {% else %}
        <input type="checkbox" onclick="myFunction('{{ task.id }}')" id="checkbox_task_{{ task.id }}" name="checkbox_task_{{ task.id }}">  <br>
        {% endif %}


    {% endfor %}

    {{ dict_result['status_todo'] }}

    Add task:
    <input type="text" id="texttodo" name="texttodo">
    <br>
    <input type="submit" value="Add task">
    </form>
</div>
{% endblock %}
