{% extends "base.html" %}
{% block content %}
<div id="checkbox" class="block" title="Транспорт">
    <form action="/" method="post">
    <label for="checkbox">Change dirrection:</label>
    <input type="checkbox" id="checkbox" name="checkbox">
    <br>
    <input type="submit" value="Submit">
    </form>
    Amsterdam, Kronenburg, to {{dict_result['route']}}<br>
    {% for route in dict_result['direction'] %}
            {{route}}
    {% endfor %}
    </div>
<div class="block" title="Погода">
    Today <br>Temperature: {{dict_result['weather']['today_forecast']['feeltemperature']}}
    Rain: {{dict_result['weather']['today_forecast']['rainchance']}}
    Wind: {{dict_result['weather']['today_forecast']['windforce']}}<br>
    Tommorrow <br>Maxtemp: {{dict_result['weather']['tomorrow_forecast']['maxtemp']}}
    Rain: {{dict_result['weather']['tomorrow_forecast']['rainchance']}}
    Wind: {{dict_result['weather']['tomorrow_forecast']['windforce']}}
</div>
<div class="block">Today is {{dict_result['activity']['day']}}<br>
    {% for day_schedule in dict_result['activity']['activity'] %}
            {{day_schedule}}
    {% endfor %}
    <br><a href={{ url_for("update") }} >Change schedule</a>
</div>
<div class="block">
    <form action="/" method="post">
    {% for task in dict_result['tasks'] %}
    {{ task.task_name }} <input type="checkbox" id="checkbox_task_{{ task.id }}" name="checkbox_task_{{ task.id }}[]">  <br>
    {% endfor %}

    {{ dict_result['status_todo'] }}

    Add task:
    <input type="text" id="texttodo" name="texttodo">
    <br>
    <input type="submit" value="Add task">
    </form>
</div>
{% endblock %}
